<ul class="nav nav-pills lateral collapse">
    <li class="nav-item">
      <a class="nav-link" href="home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="gestionar">GESTIONAR ACT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CALENDARIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">NOTIFICACIONES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="estadisticas">ESTADISTICAS</a>
    </li>
  </ul>
