<div class="container" id="reg">
    <h1>Formulario de Registro</h1>
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" required>
      </div>
      <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" id="apellidos" required>
      </div>
      <div class="mb-3">
        <label for="grupo" class="form-label">Grupo:</label>
        <input type="text" class="form-control" id="grupo" required>
      </div>
      <div class="mb-3">
        <label for="carrera" class="form-label">Carrera:</label>
        <input type="text" class="form-control" id="carrera" required>
      </div>
      <div class="mb-3">
        <label for="numControl" class="form-label">Número de Control:</label>
        <input type="text" class="form-control" id="numControl" required>
      </div>
      <div class="mb-3">
        <label for="evento" class="form-label">Evento:</label>
        <select class="form-select" id="evento" required>
          <option value="" disabled selected>Selecciona un evento</option>
          <option value="atletismo">Atletismo</option>
          <option value="ajedrez">Ajedrez</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/prihome">Enviar</button>
    </form>
  </div>