<app-lateral></app-lateral>
<div id="Contenido">
<table class="eventos">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Actividad</th>
      <th>Descripcion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="date"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><button type="button" class="btn btn-primary">Agregar</button></td>
    </tr>
    <tr>
      <td><input type="date"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><button type="button" class="btn btn-primary">Agregar</button></td>
    </tr>
    <tr>
      <td><input type="date"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><button type="button" class="btn btn-primary">Agregar</button></td>
    </tr>
  </tbody>
</table>
</div>
