<app-lateral></app-lateral>
<div id="Contenido">
<table class="eventos">
  <thead>
    <tr>
      <th>Fecha</th><th>Actividad</th><th>Descripcion</th>
      <th>F</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="date"></td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>xxxx</td>
    </tr>
    <tr>
      <td><input type="date"></td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>xxxx</td>
    </tr>
    <tr>
      <td><input type="date"></td>
      <td>@twitter</td>
      <td>xxxxx</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
